body {
  background-color: #232529;
  color: #e2e3e7;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
span {
  color: #849fee;
  cursor: pointer;
  user-select: none;
}
span:hover {
  color: #e3796a;
}
.SideBar {
  right: 1%;
  padding: 0;
  width: 114px;
  position: fixed;
  height: 114px;
  overflow: auto;
  border: thin solid #292c31;
  background-color: #292c31;
  border-radius: 14px;
}
.SideBar span {
  display: block;
  color: #e2e3e7;
  padding: 16px;
  text-decoration: none;
}
.SideBar span:hover {
  color: #e3796a;
}
.Banner {
  width: 495px;
}
.credits {
  float: right;
  background-color: #292c31;
  color: #e3796a;
  padding: 14px;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
}
.credits:hover {
  background-color: #35383f;
  color: #d2483e;
  cursor: pointer;
  text-decoration: underline;
}
.searchInput {
  background-color: #232529;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  border: thin solid lightgray;
  width: 350px;
  height: 41px;
}
.searchBttn {
  height: 42px;
  width: 105px;
  background-color: #448460;
  color: #232529;
  font-weight: bolder;
  font-size: large;
  border: thin solid #448460;
  border-radius: 3px;
}
.searchBttn:hover {
  background-color: #67b689;
  color: #232529;
  border: thin solid #67b689;
}
.content {
  margin-left: 14%;
  width: 69%;
}
.list {
  margin-top: 5%;
}
details summary {
  color: #849fee;
  padding: 5px;
  background-color: #232529;
}
details summary:hover {
  color: #e3796a;
  background-color: #2a2d31;
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
}
ul li {
  margin: 10px;
  line-height: 1.5em;
  font-size: larger;
}
ol li {
  margin: 10px;
  line-height: 1.5em;
  font-size: larger;
}
dl dt,
dd {
  font-size: larger;
}
p {
  margin: 10px;
  line-height: 1.5em;
  font-size: larger;
}
code {
  background-color: #282a36;
  color: #868d9a;
  padding: 4px;
}
pre {
  font-size: 17px;
}
#varLink {
  color: #849fee;
  text-decoration: none;
}
#varLink:hover {
  color: #e3796a;
  text-decoration: underline;
}
a {
  color: #849fee;
}
.shortcut {
  border: thin solid #e2e3e7;
}
.TFtable {
  width: 100%;
  border-collapse: collapse;
}
.TFtable td {
  padding: 7px;
  border: #35383f 1px solid;
}
/* provide some minimal visual accomodation for IE8 and below */
.TFtable tr {
  background: #292c31;
}
/*  Define the background color for all the ODD background rows  */
.TFtable tr:nth-child(odd) {
  background: #232529;
}
/*  Define the background color for all the EVEN background rows  */
.TFtable tr:nth-child(even) {
  background: #292c31;
}
.notAvailable {
  padding-left: 114px;
  font-size: larger;
}
.spacer {
  height: 20px;
}
